# Ignore Python virtual environments
**/venv/

# Ignore datasets and sample data
**/datasets/
introduction/datasets/
**/sample_datasets/
**/sample_data/
**/data/
**/images/
**/my_dir/
**/fruits-360-original-size/
PyTorch/data/
PyTorch/data/FashionMNIST/

# Ignore data files
*.csv
**/.csv
*.pdf
*.tar.gz
*.tgz
**.gz
*.pkl
**/.pkl
**/chroma.sqlite3
**/chroma_db/

# Ignore media files
*.jpg
*.png

# Ignore files with frame in the name
*frame*
*._frame*

# Ignore config and secret files
kaggle.json
**/.env
**/.env.*

# Ignore OS or IDE metadata
**/.DS_Store

**/node_modules/
