**/venv/
introduction/datasets/
kaggle.json
*.tar.gz
*.jpg
*.png
# Exclude all files containing ._frame in their names
*._frame*

# Exclude all files containing frame in their names
*frame*
**/sample_datasets/
*.pdf
PyTorch/data/*
*.csv
**/sample_data/
*.tgz
**/my_dir/
**/fruits-360-original-size/
**/datasets/
**/images/
.env
**/chroma_db/
**/.env
**/chroma.sqlite3
**/.pkl